{% extends "layout.html" %}
{% block headlinks %}
	<link rel="stylesheet"  href="{{ url_for('static', filename='css/producao.css')}}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	{{ fontawesome_html() }} 

{% endblock headlinks %}

{% block content %}

<div class="menu">
        <a href="/home"><i class="fas fa-home"></i></a>
        <a href="/producao" class="active">Produção</a>
        <a href="/dashboard">Medias</a>
        <a href="/livemedias">Live</a>
        <a href="/conf">Configuracoes</a>
</div>

<div id="print">

<div class="leftSection" id="weektableleft" style="color: black;display: block;">
</div>
<div class="rightSection" id="weektableright" style="color: black;display: block;">
	
</div>
</div>

<div>
        <button type="button" onclick="printPageTwo('#print')">Imprimir</button>
</div>

<div>
        <button type="button" onclick="printPage('print')"></button>
</div>

<script type="text/javascript" src="static/js/producao.js"></script>

{% endblock content %}